body {
	background: #fff;
}
.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 15vh 210vh 5vh;
	grid-template-areas: 
	"h h h h h"
	". m m a ."
	"f f f f f";
	
}
header{
	grid-area: h;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "l . e"; 
	
	background: red;
}
.logo{
	grid-area: l;
	align-self: start;
}
.opcoes{
	width:100%;
	height: 100%;
	grid-area: e;
}
ul{
	justify-self:stretch;
	text-align: right;
	list-style-type: none;

}
li{
	display: inline;
	
}
main{
	background: blue;
	grid-area: m;
}
.Principal{
	width: 95%;
	height: 40vh;
}
aside{
	background: #fff;
	grid-area: a;
}
#propaganda1{
	width: 40%;
	height: 20%;
	background: purple;
}
#propaganda2{
	width: 40%;
	height: 20%;
	background: orange;
}
footer{
	background: black;
	grid-area: f;
}